<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mekilit.apostlic.apostlicsonglyric">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApostolicSongs"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ver_two"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectAll" />
        <activity android:name=".DisplayALbums" />
        <activity android:name=".OneAlbum" />
        <activity
            android:name=".Lyric"
            android:parentActivityName=".SelectAll"></activity>
        <activity android:name=".AlbumArt" />
        <activity android:name=".IntroPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity android:name=".AboutTheApp" />
        <activity android:name=".Sec_Activity" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Searchable">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".Sync"></activity>
    </application>

</manifest>